*{font-family:"Roboto Mono", monospace;   
}
header ul {
    display: inline-block;
    list-style: none;
    text-align: right;
    padding-top: 60px;
    margin: 40px 60px 40px 60px;   
}

h1{
    text-align: center;
    font-weight: 700
}
.servicios {
    background-color: #E4D9FF ;
}